@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Ysabeau:wght@100&display=swap");

.Projects {
  margin: 30px;
  font-family: "Ysabeau", sans-serif;

  .card {
    display: flex;
    font-size: 10pt;
    gap: 10px;
  }

  .div {
    background-color: #8fbc8b;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: 220px;
    width: 160px;

    h1 {
      font-size: 25pt;
      padding: 1px;
      border-bottom: 1px solid #e1c9bebc;
    }
    h4 {
      padding: 7px;
    }
  }
  .div:hover {
    background-color: #014d26;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .Projects {
    .card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      overflow-x: scroll;
    }
  }
}
@media screen and (min-width: 768px) {
  .Projects {
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
