.Projects {
  margin: 30px;

  .card {
    display: flex;
    font-size: 9pt;
    gap: 10px;
  }

  .div {
    background-color: #f2b9accf;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
    height: 200px;

    h1 {
      font-size: 25pt;
      padding: 10px;
    }
    h4 {
      padding: 10px;
    }
  }
  .div:hover {
    width: 260px;
    background-color: #c99a8fcf;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .Projects {
    .card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      overflow-x: scroll;
    }
  }
}
@media screen and (min-width: 768px) {
  .Projects {
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
