.Projects {
  margin: 10px;
  padding: 30px 10px;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    gap: 10px;
  }

  .div {
    border: 1px solid whitesmoke;
    background-color: rgba(255, 255, 255, 0.981);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 210px;
    padding: 30px;

    img {
      display: flex;
      object-fit: cover;
    }

    img:hover {
      filter: sepia(100%);
      -webkit-filter: sepia(100%);
    }
  }
}
@media screen and (max-width: 768px) {
  .Projects {
    .card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      overflow-x: scroll;
    }
  }
}
@media screen and (min-width: 768px) {
  .Projects {
    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
