.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  background-color: #8fbc8b;
  color: black;

  .div {
    display: flex;
    flex-direction: row;
    gap: 20px;

    ul {
      display: flex;
      gap: 15px;
      padding-right: 10px;
      border-right: 1px solid black;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        gap: 5px;
      }
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 25pt;
        list-style-type: none;
      }
      .special {
        font-size: 30pt;
      }
    }

    .review {
      border-radius: 100px;
      padding: 10px;
      width: 50px;
      height: 50px;
      border: 2px solid black;
      color: black;
    }
  }
}

@media screen and (max-width: 990px) {
  .Skills {
    .div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      overflow-x: scroll;
    }
  }
}
@media screen and (min-width: 768px) {
  .div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
