@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Ysabeau:wght@100&display=swap");

.Form {
  margin: 50px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 2px 10px;
      box-shadow: 1px 1px rgb(106, 106, 106);
      height: 50px;
      font-family: "Ysabeau", sans-serif;
      font-weight: 300;
    }

    .special {
      height: 100px;
    }

    .submit {
      background-color: #8f6e76;
    }
  }

  input:hover {
    cursor: pointer;
    box-shadow: 1px 1px rgb(234, 234, 234);
  }

  .submit:hover {
    background-color: #654f54;
  }
}

@media screen and (min-width: 768px) {
  .Form {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      width: 50%;
    }
  }
}
