@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Ysabeau:wght@100&display=swap");

.Data {
  margin: 30px;
  padding: 30px;
  background-color: #f2b9aca1;
  font-family: "Ysabeau", sans-serif;
  font-weight: bold;

  .dati {
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        color: black;
        font-size: 11pt;
        list-style-type: none;
        display: flex;
        gap: 10px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .Data {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
}
