@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Ysabeau:wght@100&display=swap");

.Hero {
  width: 100%;
  padding: 10px;
  background-color: #014421;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Ysabeau", sans-serif;
  text-shadow: 0.5px 0.4px 0.3px #49383c;

  .foto {
    display: flex;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 1px 2px 2px black;
  }
}

@media screen and (min-width: 768px) {
  .Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
