@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Ysabeau:wght@100&display=swap");

.Schools {
  background-color: #8fbc8b;
  color: black;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  font-family: "Ysabeau", sans-serif;
  font-weight: bold;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      color: black;
      font-size: 11pt;
      list-style-type: none;
      display: flex;
      gap: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .Schools {
    width: 50%;

    .icons {
      ul {
        li {
          gap: 20px;
        }
      }
    }
  }
}
